body {
	background: #ffffff url("http://miriadna.com/desctopwalls/images/max/Sunrise-in-Carebbean-sea.jpg");
	background-size: 100% 700px;
	background-repeat: no-repeat;
	background-attachment: fixed;}
pre {
	color: #ffffff;}
table, table * {
	border-radius: 9px;
	border: 2px solid #BBB;}
td {
	text-align: center;}
footer {
	box-shadow: 4px 4px 4px 3px #797979;
	width:140px;}
td#t1 {
	font-size: 24px;}
#gg {
	font-size: 12px;}
	
